.pink-bg {
  background-color: #fceae8;
}

.btn-pink {
  background-color: #ff136f;
  color: white;
}

.carousel h2 {
  color: #ff136f;
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
  padding: 8px 35px;
}
